IdentitiesOnly yes
ServerAliveInterval 60
ServerAliveCountMax 5
FingerprintHash md5
StrictHostKeyChecking no

Include config.d/*

Host github.com
    User git
    IdentityFile ~/.ssh/{{- dig "githubKeyName" "github" . }}
    StrictHostKeyChecking yes

